* {
    background-color: lightpink;
}

img {
    padding: 10px;
    display: inline;
    margin: 0 auto;
    vertical-align: middle;
    max-width: 300px;
    height: auto;
}

a {
    margin: 0 auto;
    display: block; 
}

h1 {
    color: rgb(243, 74, 100);
    background-color: white;
    font-size: 64pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

ul {
    padding: 0 50px;
    margin: 0 auto;
    display: inline;
    vertical-align: middle;
   
}

.items {
    padding: 10px;
    margin: 0 auto;
    display: inline;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#item1,
#item3 {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    display: block;
    background-color: rgb(243, 74, 100);
}

#item2 {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    display: block;
    background-color: white;
}

button {
    padding: 10px;
    font-size: 24px;
    box-shadow: 5px 5px rgba(80, 27, 35, 75);
}